
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>计算约数</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">约数计算器</a>
        </div>
    </div>
</nav>

<!-- Begin page content -->
<div class="container">
    <h2>查询输入数字的所有约数</h2>
    <p>请输入要计算的数字</p>
    <input type="text" id = 'text' class="form-control" id="exampleInputEmail1" placeholder="请输入数字">
    <button type="button" id = 'btn' class="btn btn-success">提交数字</button>
</div>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.js"></script>
<script>
    $('#btn').click(function () {
        let num = $('#text').val();
        window.location = '/' + num;
    })
</script>

</body>
</html>
