* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.music {
  position: relative;
  width: 300px;
  height: 575px;
  margin: auto;
  background-color: #C5CAE9;
}
.music h3 {
  padding-top: 20px;
  font-size: 26px;
  font-weight: bolder;
  line-height: 20px;
  text-align: center;
  color: #4CAF50;
}
.music .img-wrap {
  width: 100%;
  height: 120px;
  margin-top: 20px;
}
.music .img {
  overflow: hidden ;
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
}
.music .song-wrap {
  overflow: hidden;
  height: 300px;
  margin-top: 20px;
}
.music .song-wrap .song {
  position: relative;
  margin-top: 50px;
  height: 1050px;
}
.music .song-wrap .song p {
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}
.music .controls {
  width: 100%;
  height: 75px;
}
.music .controls .process {
  display: flex;
  width: 100%;
  height: 25px;
}
.music .controls .process .schedule {
  position: relative;
  display: flex;
  width: 90%;
  height: 25px;
}
.music .controls .process .schedule .current,
.music .controls .process .schedule .total {
  flex: 0 0 35px;
  width: 35px;
  height: 100%;
  font-size: 12px;
  color: #000;
  text-align: center;
  line-height: 25px;
}
.music .controls .process .schedule .bar {
  position: relative;
  width: 200px;
  height: 6px;
  margin-top: 9px;
  border-radius: 3px;
  background-color: #CFD8DC;
}
.music .controls .process .schedule .bar .bgc {
  width: 0;
  height: 6px;
  border-radius: 3px;
  background-color: #3949AB;
}
.music .controls .process .schedule .bar .sign {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
}
.music .controls .process .voice {
  position: relative;
  width: 10%;
  height: 25px;
  text-align: center;
}
.music .controls .process .voice span {
  display: block;
  font-size: 20px;
  color: #F4511E;
  line-height: 25px;
}
.music .controls .process .voice .voiceBar {
  position: absolute;
  top: -50px;
  left: 12px;
  width: 6px;
  height: 50px;
  border-radius: 3px;
  background-color: red;
}
.music .controls .option {
  width: 100%;
  height: 52px;
  background-color: #9FA8DA;
}
.music .controls .option .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 50px;
  margin: auto;
}
.music .controls .option .content .loop,
.music .controls .option .content .next,
.music .controls .option .content .prev,
.music .controls .option .content .menu {
  width: 30px;
  height: 30px;
}
.music .controls .option .content .loop span,
.music .controls .option .content .next span,
.music .controls .option .content .prev span,
.music .controls .option .content .menu span {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  color: #F4511E;
}
.music .controls .option .content .play {
  width: 40px;
  height: 40px;
}
.music .controls .option .content .play span {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 32px;
  text-align: center;
  line-height: 40px;
  color: #F4511E;
}
.music .controls .option .content .play .icon-zanting {
  font-size: 40px;
}
.active {
  color: #9C27B0;
}
.music:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 300px;
  top: 200px;
  left: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.6) 100%);
}
#opacity {
  opacity: 1 !important;
}
/*# sourceMappingURL=index.css.map */